<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MailboxAssignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93C3570A1DC826ED00C85A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93C3571E1DC826ED00C85A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93C357291DC826ED00C85A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
